body {
  background-color: salmon;
color: black;
width: 80%;
}
h1{
  text-align: center;
  font-size: 4em;
  
}
h3{
  text-align: center;
}
nav{
  background-color: rgb(80, 8, 0);
  color: blanchedalmond;
  padding: 20px;
border: medium solid gray;
margin: auto;
}
nav a{
  color: blanchedalmond;
  padding: 10%;

}
p {
  font-family: serif;
}
ul{
  list-style: circle;
  list-style-position: inside;
  font-size: 2em; 
}
li{
list-style-type: disc;
font-size: 0.5em;
font-family: Verdana, Geneva, Tahoma, sans-serif;
/* this will be used for data */
}
mark{
  font-family: 'Nerko One', cursive;
  /* this will be used for highlighting */
}
